
{% load static %}

<div class="d-flex justify-content-around head-top">
    <div class="px-1 head-top-drop">
      <img class="mx-auto" src="{% static 'image/header/head-top-1.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Boadrs
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Asus ROG</a>
        </li>
        <!-- <li><hr class="dropdown-divider"></li> -->
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Intel</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">AMD</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">MSI</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">AS Rock</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">EVGA Corporation</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Gigabyte technology</a>
        </li> 
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Biostar</a>
        </li>     
      </ul>
    </div>
    <div class="px-1 head-top-drop my-auto">
      <img class="mx-auto" src="{% static 'image/header/head-top-2.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        RAM's
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">4GB Ram</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">8GB Ram</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">16GB Ram</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">ASUS</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Intel</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#"> Corsair </a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Kingston</a>
        </li>    
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Samsung</a>
        </li>  
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">G. SKILL</a>
        </li>  
      </ul>
    </div>
    <div class="px-1 head-top-drop my-auto">
      <img class="mx-auto my-auto" src="{% static 'image/header/head-top-3.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark my-auto py-auto head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        S S Drives
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Asus ROG</a>
        </li>
        <!-- <li><hr class="dropdown-divider"></li> -->
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Intel</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">AMD</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">MSI</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">AS Rock</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">EVGA Corporation</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Gigabyte technology</a>
        </li> 
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Biostar</a>
        </li>     
      </ul>
    </div>
    <div class="px-1 head-top-drop">
      <img class="d-flex justify-content-center" src="{% static 'image/header/head-top-4.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Hard Drives
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Asus ROG</a>
        </li>
        <!-- <li><hr class="dropdown-divider"></li> -->
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Intel</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">G- Technology</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Hitachi</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Seagate Hard Drives</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Samsung</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Gigabyte technology</a>
        </li> 
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Hard Drives</a>
        </li>     
      </ul>
    </div>
    <div class="px-1 head-top-drop">
      <img class="mx-auto" src="{% static 'image/header/head-top-5.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Mouses
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Asus ROG</a>
        </li>
        <!-- <li><hr class="dropdown-divider"></li> -->
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Zebronics</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Frontech</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Quantum</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Dell</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Lenovo</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Gigabyte technology</a>
        </li> 
      </ul>
    </div>
    <div class="px-1 head-top-drop">
      <img class="mx-auto" src="{% static 'image/header/head-top-6.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Keyboards
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Asus ROG</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Microsoft</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Dell</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Lenovo</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Normal Keyboard</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Semi-Mechenical</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Mechenical Keyboard</a>
        </li>
      </ul>
    </div>
    <div class="px-1 head-top-drop">
      <img class="mx-auto" src="{% static 'image/header/head-top-7.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark head-top-drop-a" id="" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Cameras
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu head-top-drop" aria-labelledby="navbarDropdown">
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">GoPro</a>
        </li>
        <!-- <li><hr class="dropdown-divider"></li> -->
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">In Build camera</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Buy a new laptop</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">SONY</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">NIKON</a>
        </li>
        <li class="py-2 d-flex">
          <a class="dropdown-item" href="#">Canon</a>
        </li>   
      </ul>
    </div>
    <div class="px-1 head-top-drop">
      <img class="mx-auto" src="{% static 'image/header/head-top-8.jpg' %}" height="50" alt="">
      <a class="nav-link text-dark " id="" role="button"
        aria-expanded="false">
        Mouse Pads
      </a>
    </div>
  </div>